# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/glean

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# database
*.db*

# frontend
node_modules/
web/node_modules/
web/build/
web/.svelte-kit/

# container image tarball
/glean-image.tar

# todo
todo.md

# python bytecode
__pycache__/
*.pyc

# flutter
app/.dart_tool/
app/build/
app/.flutter-plugins-dependencies
app/*.iml
